# wiki
documents
data
conf
bin
lib/tpl/dokuwiki

# wiki plugins
vendor

# etherpad
!etherpad-lite/

etherpad-lite/*
!etherpad-lite/src/

etherpad-lite/src/*
!etherpad-lite/src/static/

etherpad-lite/src/static/*
